awslambdaric
boto3
cryptography
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
pinecone-client
pdfminer.six
protobuf
psycopg2-binary
sentence-transformers
slack-bolt
SQLAlchemy
sqlalchemy-utils
torch